<h1>Create Reservation</h1>
<%= form_for (@reservation) do |f| %>
    <% if @reservation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this category from being saved:</h2>

          <ul>
            <% @reservation.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :user_id, 'Select User: '%>
      <%= f.select "member_id", options_from_collection_for_select(Member.all, "id", "email")%><br>
      <%= f.label :room_id, 'Select Room: '%>
      <%= f.select "room_id", options_from_collection_for_select(Room.all, "id", "room_number")%><br>
      <%= f.label :date, 'Select Starting date and Time'%>
      <%= datetime_local_field(:reservation, :starttime) %>

    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>