<h1>Room</h1>


<script type="text/javascript" charset="utf-8">

  $().ready(function () {
    $('#search_link').click(function () {
      $(this).attr('href', $(this).attr('href') + '?building=' + $("#building").val() + '&room_number=' + $("#room_number").val() +
          '&size=' + $("#size").val()) ;
    });
  });

</script>



<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <%= select_tag 'building', options_for_select([['D.H. Hill', 'D.H. Hill'], ['James. B. Hunt', 'James. B. Hunt']]),
                 {prompt: 'Select Building'} %>

  <%= select_tag 'size', options_for_select([['small', 'small'], ['medium', 'medium'], ['large', 'large']]),
                 {prompt: 'Select Size'} %>
  Room Number: <%= text_field_tag 'room_number' %>

  <%= link_to "Search", {action: "index"}, :id => "search_link" %>

  <br/>


  <tbody>
  <% @rooms.each do |room| %>
      <tr>
        <td> <%= link_to room.room_number, room_path(room) %> </td>
        <% if current_member.is_admin %>

            <td><%= link_to 'Edit', edit_room_path(room)%> </td>
            <td><%= link_to 'Destroy', room, method: :delete, data: {confirm: 'Are you sure?'} %> </td>

        <% end %>

      </tr>
  <% end %>
  </tbody>
</table>


