<h1>Library Booking App</h1>
<% if member_signed_in? %>

    <%= link_to "Edit your account", edit_member_registration_path %><br>
    <%= link_to "View Rooms", rooms_path %><br>
    <%= link_to "View My Reservations", reservations_path %><br>

    <% if current_member.is_admin %>
        <%= link_to "View Members", edit_member_registration_path %><br>
        <%= link_to "Create Room", edit_member_registration_path %><br>
        <%= link_to "Edit Room", edit_member_registration_path %><br>
    <% end %>

<% else %>

    <p>Need to sign in to access application</p><br>
<% end %>

