<p id="notice"><%= params[:notice] %></p>

<h1>All Members</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>AdminControl</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @members.each do |member| %>
      <tr>
        <td> <%= member.name %> </td>
        <td><%= member.email %> </td>
        <td><%= member.is_admin %> </td>
        <td><%= link_to 'Destroy', member, method: :delete, data: {confirm: 'Are you sure?'} %> </td>
      </tr>
  <% end %>
  </tbody>
</table>
