Member Name: <%= @member.name %><br>
Member Email: <%= @member.email %><br>

<H2>Booking History</H2>
<table>
  <thead>
  <tr>
    <th>Room Number</th>
    <th>start time</th>
    <th>Email</th>
  </tr>
  </thead>

  <tbody>
  <% @booking_history.each do |booking| %>
      <tr>
        <td> <%= booking.room.room_number %> </td>
        <td><%= booking.starttime.to_s(:long) %> </td>
        <td><%= booking.member.email %> </td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: {confirm: 'Are you sure?'} %> </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Delete the User', member_path(@member), method: :delete, data: {confirm: 'Are you sure?'} %>
